# Pandas Essentials

Pandas is a powerful Python library for data manipulation and analysis. This notebook covers the fundamentals of working with pandas DataFrames and Series.

## Part 1: Getting Started with Pandas

### Import Pandas and Create Your First DataFrame

In [1]:
import pandas as pd

### DataFrame Information

In [2]:
# Get basic information about the DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00]
}
df = pd.DataFrame(data)
print(df)

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

## Part 2: Accessing Data

### Selecting Columns

In [3]:
# Access a single column
# Viewing the first few rows
print(df.head())

# Viewing the last few rows
print(df.tail())

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0
        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

### Selecting Rows

In [4]:
# Access rows by index using iloc
print("First row:")
print(df.iloc[0])

# Access rows by label using loc
print("\nRow with index 1:")
print(df.loc[1])

# Access first few rows
print("\nFirst 3 rows:")
print(df.head(3))

First row:
Date     2023-01-01 00:00:00
AAPL                  150.75
GOOGL                 2800.5
MSFT                   299.0
Name: 0, dtype: object

Row with index 1:
Date     2023-01-02 00:00:00
AAPL                   153.3
GOOGL                 2820.0
MSFT                   305.0
Name: 1, dtype: object

First 3 rows:
        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0

## Part 3: Filtering Data

In [ ]:
# Filter by condition
print("Employees older than 30:")
print(df[df['Age'] > 30])

# Multiple conditions
print("\nEmployees in IT or Finance with salary > 60000:")
print(df[(df['Department'].isin(['IT', 'Finance'])) & (df['Salary'] > 60000)])

## Part 4: Data Statistics

### Descriptive Statistics

In [ ]:
# Get summary statistics
print("Summary statistics:")
print(df.describe())

print("\nMean age:")
print(df['Age'].mean())

print("\nMedian salary:")
print(df['Salary'].median())

print("\nStandard deviation of salary:")
print(df['Salary'].std())

## Part 5: Data Manipulation

### Adding and Modifying Columns

In [ ]:
# Add a new column
df['Bonus'] = df['Salary'] * 0.1
print("DataFrame with bonus:")
print(df)

# Modify existing column
df['Total_Compensation'] = df['Salary'] + df['Bonus']
print("\nDataFrame with total compensation:")
print(df)

### Renaming Columns

In [ ]:
# Rename columns
df_renamed = df.rename(columns={
    'Name': 'Employee',
    'Department': 'Dept'
})
print(df_renamed)

## Part 6: Sorting and Grouping

### Sorting Data

In [ ]:
# Sort by salary in descending order
print("Sorted by salary (descending):")
print(df.sort_values('Salary', ascending=False))

# Sort by multiple columns
print("\nSorted by Department, then by Age:")
print(df.sort_values(['Department', 'Age']))

### Grouping Data

In [ ]:
# Group by department and calculate statistics
print("Average salary by department:")
print(df.groupby('Department')['Salary'].mean())

# Multiple aggregations
print("\nSalary statistics by department:")
print(df.groupby('Department')['Salary'].agg(['mean', 'min', 'max', 'count']))

# Group by and show all info
print("\nDepartment statistics:")
print(df.groupby('Department').agg({
    'Salary': 'mean',
    'Age': 'mean',
    'Name': 'count'
}).rename(columns={'Name': 'Count'}))

## Part 7: Reading and Writing Data

### Writing to CSV

In [ ]:
# Write to CSV
df.to_csv('output/employees.csv', index=False)
print("DataFrame saved to employees.csv")

# Write to Excel (requires openpyxl)
# df.to_excel('output/employees.xlsx', index=False)

### Reading from CSV

In [ ]:
# Read from CSV
df_read = pd.read_csv('output/employees.csv')
print("DataFrame read from CSV:")
print(df_read)
print("\nData types:")
print(df_read.dtypes)

## Part 8: Handling Missing Data

In [ ]:
# Create a DataFrame with missing values
data_with_missing = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 35, 40],
    'Salary': [50000, 60000, 75000, None]
}

df_missing = pd.DataFrame(data_with_missing)
print("DataFrame with missing values:")
print(df_missing)

# Check for missing values
print("\nMissing values per column:")
print(df_missing.isnull().sum())

# Drop rows with missing values
print("\nAfter dropping rows with missing values:")
print(df_missing.dropna())

# Fill missing values
print("\nAfter filling missing values:")
print(df_missing.fillna({'Age': df_missing['Age'].mean(), 'Salary': 55000}))

## Part 9: Merging DataFrames

In [ ]:
# Create two DataFrames to merge
employees = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['Sales', 'IT', 'HR', 'Finance']
})

salaries = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Salary': [50000, 60000, 75000, 80000]
})

# Merge on ID column
merged = pd.merge(employees, salaries, on='ID')
print("Merged DataFrame:")
print(merged)

# Concatenate vertically
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
concatenated = pd.concat([df1, df2], ignore_index=True)
print("\nConcatenated DataFrames:")
print(concatenated)

## Part 10: Data Transformation

In [ ]:
# Apply custom function to column
df['Salary_Category'] = df['Salary'].apply(lambda x: 'High' if x > 70000 else 'Low')
print("DataFrame with salary category:")
print(df[['Name', 'Salary', 'Salary_Category']])

# String operations on columns
df['Name_Upper'] = df['Name'].str.upper()
df['Name_Length'] = df['Name'].str.len()
print("\nString operations:")
print(df[['Name', 'Name_Upper', 'Name_Length']])